{% extends "guest/guest.base.html" %}

{% block content %}
    <div class="panel panel-primary" style="max-width: 700px; margin: 0 auto;">
        <div class="panel-heading">Data Bangunan</div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tahun</th>
                        <th>Kondisi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td style="min-width: 40%;">{{ item.nama|e }}</td>
                            <td>{{ item.tahun|e }}</td>
                            <td>{{ item.kondisi|e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}