{% extends "guest/guest.base.html" %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Data Jumlah Siswa yang Melanjutkan Studi</div>
        <div class="panel-body">
            <table class="table table-condensed table-striped table-responsive">
                <thead>
                    {% if (sekolah.kategori == 3) %}
                    <tr>
                        <th>Tahun</th>
                        <th>Jumlah Siswa</th>
                        <th>SMPN</th>
                        <th>SMP Swasta</th>
                        <th>MTs</th>
                        <th>Pontren</th>
                        <th>
                        </th>
                    </tr>
                    {% elseif (sekolah.kategori == 4) %}
                    <tr>
                        <th>Tahun</th>
                        <th>Jumlah Siswa</th>
                        <th>SMA Negri</th>
                        <th>SMA Swasta</th>
                        <th>MAN</th>
                        <th>Pontren</th>
                        <th>
                        </th>
                    </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% if (sekolah.kategori == 4) %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.tahun|e }}</td>
                            <td>{{ (item.lanjutSMAN + item.lanjutSMAS + item.lanjutMAN + item.lanjutPontren) |e }}</td>
                            <td>{{ item.lanjutSMAN|e }}</td>
                            <td>{{ item.lanjutSMAS|e }}</td>
                            <td>{{ item.lanjutMAN|e }}</td>
                            <td>{{ item.lanjutPontren|e }}</td>
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% elseif (sekolah.kategori == 3) %}
                    {% for item in items %}
                        <tr>
                            <td>{{ item.tahun|e }}</td>
                            <td>{{ item.jumlahSiswa|e }}</td>
                            <td>{{ item.lanjutSMPN|e }}</td>
                            <td>{{ item.lanjutSMPS|e }}</td>
                            <td>{{ item.lanjutMTS|e }}</td>
                            <td>{{ item.lanjutPontren|e }}</td>
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}