{% extends "guest/guest.base.html" %}

{% block additionalHead %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>Nip</th>
                <th>Nama</th>
                <th>NUPTK</th>
                <th>Kategori</th>
                <th>Golongan/Ruang</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.nip|e}}</td>
                    <td>{{item.nama|e}}</td>
                    <td>{{item.nuptk|e}}</td>
                    <td>
                        {{ (item.kategori == 1) ? 'PNS' : 'Non PNS' }}
                    </td>
                    <td>{{ item.golongan|e }}</td>
                    <td>{{ item.status|e }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extraScripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
{% endblock %}