{% extends "guest/guest.base.html" %}

{% set isSmp = sekolah.kategori == 4 %}
{% set isSd = sekolah.kategori == 3 %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">Data Siswa Per Rombongan Belajar</div>
        <div class="panel-body">
            <table class="table table-condensed table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Kelas I</th>
                        <th>Kelas II</th>
                        <th>Kelas III</th>
                        {% if isSd %}
                        <th>Kelas IV</th>
                        <th>Kelas V</th>
                        <th>Kelas VI</th>
                        {% endif %}
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.tahun|e }}</td>
                            <td>{{ item.rb1|e }}</td>
                            <td>{{ item.rb2|e }}</td>
                            <td>{{ item.rb3|e }}</td>
                            {% if isSd %}
                            <td>{{ item.rb4|e }}</td>
                            <td>{{ item.rb5|e }}</td>
                            <td>{{ item.rb6|e }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}