<header id="header">
        <div class="container-fluid">
    
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a class="logo" href="index.html">
                        <img src="/static/img/logo.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
    
                <!-- Mobile toggle -->
                <button class="navbar-toggle">
                    <span></span>
                </button>
                <!-- /Mobile toggle -->
            </div>
    
            <!-- Navigation -->
            <nav id="nav">
                <ul class="main-menu nav navbar-nav navbar-right">
                    <li><a href="/app/register.php">Sign Up</a></li>
                    <li><a href="/app/login.php">Log In</a></li>
                </ul>
            </nav>
            <!-- /Navigation -->
    
        </div>
    </header>