<header id="header">
    <div class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="index.html" style="color: #333">
                    <img src="/static/img/logo_.png" alt="logo">
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="/app/browse.php">Home</a></li>
                <li><a href="/app/news.php">News</a></li>
                <li><a href="/app/user/index.php">Profile</a></li>
                <li><a href="/app/actions/logout.php">Log Out</a></li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>
</header>