<header id="header" class="transparent-nav">
    <div class="container-fluid">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a class="logo" href="index.html">
                        Sebaran Sekolah TTS
                </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
                <span></span>
            </button>
            <!-- /Mobile toggle -->
        </div>

        <!-- Navigation -->
        <nav id="nav">
            <ul class="main-menu nav navbar-nav navbar-right">
                <li><a href="/app/browse.php">Browse</a></li>
				<li><a href="/app/maps.php?menu=maps_data">Maps</a></li>
                <li><a href="/app/register.php">Sign Up</a></li>
                <li><a href="/app/login.php">Log In</a></li>
            </ul>
        </nav>
        <!-- /Navigation -->

    </div>
</header>